.flex-main{
    background-color:#3d087b ;
    height: 100vh;
}
.flex-container{
    width: 85%;
    margin:auto;
    
}
.flex-box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.clock{
    width: 40%;
}
.box{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 100px;
    display: flex;
    width: 45%;
    
}
.box-1{
  height: 100px;
  width: 379px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 700px;
  z-index: 1;
  background-color: whitesmoke;
  opacity: 0.12;
}
.box-2{
  height: 100px;
  width: 405px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 690px;
  z-index: 2;
  background-color: whitesmoke;
  opacity: 0.21;
}
.second{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.second-flex{
    background-color: whitesmoke;
    border-radius: 3px;
    padding-top: 5px;
    
    height:36vh;
}
.box-set{
    height: 250px;
    border-radius: 3px;
    width: 350px;
    margin-left: 35px;
    
}
.wakeuptime{
    width: 100px;
    border-radius: 3px;
    margin-right: 5px;
}
.lunchtime{
    width: 100px;
    border-radius: 3px;
}
.dinnertime{
    width: 100px;
    border-radius: 3px;
}
.clockright {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 22px;
    color: #3d087b;
    }
.upper_card {
    position: absolute;
    background-color: #fff;
    width: 426px;
    height: 100px;
    z-index: 3;
    border-radius: 10px;
    }

#hours {
background-image: url(./timeline.svg);
padding: 20px;

}
#minutes {
background-image: url(./timeline.svg);
padding: 20px;
}

#seconds {
background-image: url(./timeline.svg);
padding: 20px;
}
#am_pm {
background-image: url(./AM_svg.svg);
padding: 20px;
color: white;
}
.middle_card {
position: absolute;
background-color: white;
opacity: 0.7;
width: 336px;
height: 100px;
z-index: 2;
transform: translateY(15px);
border-radius: 10px;
left: 65%;
}
.lower_card {
position: relative;
background-color: white;
opacity: 0.5;
width: 300px;
height: 100px;
z-index: 1;
transform: translateY(30px);
border-radius: 10px;
left: 20%;
box-shadow: 20px 20px 60px #3d087b, -20px -20px 60px #3d087b;
}
.set2{
  top: 84.72px;
  left:42.5px;
  height: 25px;
  margin-left: 15.3px;
  border-left: 1px solid #3D087B;
}
.set4{
    border-left: 1px solid #3D087B;
    height: 25px;
    top: 181.88px;
    left: 42.5px;
    margin-left: 15.3px;
    margin-bottom: 10px;
}
.time{
    margin-top: 30px;
    margin-left: 6px;
}
/* .image-right{
    background-color: whitesmoke;
    width:40vw;
    margin-left: 50px;
} */
.image-edit{
    width: 38vw;
    height:70vh;
    margin-top: -40px;
}
#message{
border-radius: 10px;
color: black;
background-color: white;
margin: 10px 0px;
padding: 20px 10px;
font-weight: bolder;
height: 50px;
}
/* #message{
border-radius: 10px;
color: black;
background-color: white;
margin: 10px 0px;
padding: 20px 10px;
font-weight: bolder;
height: 50px;
} */
#downimagetext{
font-size: 20px;
color: #6e54ec;
position: absolute;
margin: 20px 0px 0px 20px;
font-weight: bolder;
}
#image{
background-image: url(./wakeup_image.png);
background-position: center;
background-size: cover;
width: 450px;
height: 400px;
}
.set-button{
  margin-top: 20px;
  font-size: 24px;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(
    113deg,
    #6e54ec 0%,
    #cb52f8 40%,
    #fc5eff 81%,
    #f1a7c5 100%
  );
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.set-button:hover{
    background-image: linear-gradient(
    280deg,
    #6e54ec 0%,
    #cb52f8 40%,
    #fc5eff 81%,
    #f1a7c5 100%
  );
}
